Source: oerpenv
Maintainer: Cristian S. Rocha <cristian.rocha@moldeointeractive.com.ar>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: python-oerpenv
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: OpenERP Environment Administrator

